* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
}

body {
  background-color: #030303;
  color: #3bfc31;
  /*cursor: url('http://ongvu1bz5.bkt.clouddn.com/bitbug_favicon.ico'),auto;*/
}
